@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$black-color: #2C2A2A;

.button{
  margin: 10px 0;
  a{
    padding: 10px 20px;
    background-color: $black-color;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: normal;
  }
}

button, input[type="submit"]{
  margin: 10px 0;
  padding: 10px 20px;
  background-color: $black-color;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: normal;
  border: 0;
  font-size: 17px;
  cursor: pointer;
}

.menu-visible{
  left: 0!important;
}

.hidden{
  display: none;
  transition: all ease 0.5s;
}

.size{
  height: auto!important;
}

.error{
  color: red;
}

.error-border{
  border-bottom: 1px solid red;
}

.succes{
  color: #C894F5;
}

.campo-informacion{
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 17px;
  border: 1px solid $black-color;
  border-radius: 10px;
  padding: 0 20px;
  margin: 10px;
  margin-left: 0;
  &::placeholder{
    color: #ccc;
  }
  &:focus{
    border: 2px solid $black-color;
  }
}

html{
  scroll-behavior: smooth;
}

body{
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fbfbf8;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
}

header{
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: none;
  display: flex;
  align-items: center;
  z-index: 10;
  transition: 2s;
  .header-button{
    #menu{
      display: none;
    }
  }
  .navbar{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px ;
    background: none;
    .navbar-logo{
      a{
        color: $black-color;
        text-decoration: none;
      }
    }
    .navbar-ul{
      ul{
        display: flex;
        li{
          list-style: none;
          a{
            text-decoration: none;
            color: $black-color;
            margin: 0 15px;
          }
        }
      }
    }
  }
}

main{
  margin-top: 80px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 140px;
  position: relative;
  .icons{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 100px;
    top: 68%;
    a{
      color: $black-color;
      font-size: 30px;
      padding-top: 20px;
    }
  }
  .title{
    h1{
      text-align: center;
      font-size: 80px;
      margin: 0;
    }
  }
  .luda{
    margin-top: -20px;
    .letters{
      display: flex;
      justify-content: center;
      .words{
        height: 350px;
        margin-left: -20px;
        img{
          width: 100%;
          height: 100%;
          background-color: none;
        }
      }
    }
  }
  .subtitle{
    h3{
      font-size: 23px;
      font-weight: bolder;
      margin-bottom: 0;
    }
  }
  .text{
    width: 60%;
  }
}

.aboutme-section{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  #figura1{
    position: absolute;
    transform: scale(0.4);
    bottom: -700px;
    right: -900px;
  }
  #figura2{
    position: absolute;
    bottom: 30%;
    width: 300px;
    left: 200px;
  }
  .aboutme-box{
    height: 50%;
    width: 70%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(148, 148, 148);
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 20px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    .aboutme-title{
      h3{
        font-size: 23px;
        font-weight: bolder;
        margin: 0;
      }
    }
    .aboutme-text{
      width: 100%;
      p{
        line-height: 25px;
      }
    }
    .aboutme-experience{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .experience-cards{
        display: flex;
        width: 40%;
        justify-content: space-between;
        margin-left: 50px;
        .experience{
          display: flex;
          flex-direction: column;
          align-items: center;
          .time{
            h3{
              font-weight: bolder;
              margin: 0;
              font-size: 30px;
            }
          }
          .months{
            text-align: center;
          }
        }
      }
    }
  }
}

.experience-section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .experience-box{
    min-width: 80%;
    .experience-title{
      margin-bottom: 50px;
      h3{
        font-size: 23px;
        font-weight: bolder;
      }
    }
    .row{
      max-width: 100%;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 50px;
      border-bottom: 1px solid #CCCCCC;
      h3{
        font-size: 23px;
        font-weight: bolder;
        width: 150px;
      }
      .primary-info{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .secondary-info{
        width: 100%;
        background-color: $black-color;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        p{
          margin: 20px 20px;
          color: #fbfbf8;
          font-weight: bolder;
        }
      }
    }
    .frontend{
      border-top: 1px solid #ccc;
    }
  }
}

.projects{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .projects-title{
    width: 80vw;
    h3{
      font-size: 23px;
      font-weight: bolder;
      margin: 20px 0;
    }
  }
  .projects-container{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    flex-wrap: wrap;
    padding: 20px;
    #rapidoaprendo{
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }
    #rentaride{
      grid-column: 2 / 3;
    }
    .project{
      min-width: 40%;
      height: auto;
      display: block;
      text-decoration: none;
      background-color: $black_color;
      padding: 30px;
      margin: 20px;
      border-radius: 20px;
      h3{
        color: #fbfbf8;
        margin: 10px 0;
      }
      p{
        color: #fbfbf8;
        width: 90%;
        font-weight: lighter;
        line-height: 25px;
      }
      .project-img{
        min-width: 100%;
        height: auto;
        img{
          max-width: 100%;
          min-height: 100%;
          border-radius: 10px;
        }
      }
    }
  }
}

.contact-section{
  width: 60vw;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  form{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .contact-title{
    h3{
      font-size: 23px;
      font-weight: bolder;
      margin: 20px 0;
      text-align: center;
    }
  }
  .contanct-nameandmail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin: 0;
    .name{
      width: 50%;
      font-size: 20px;
      margin-right: 10px;
      .name-input{
        max-width: 90%;
        margin: 10px;
        margin-left: 0;
      }
    }
    .email{
      width: 50%;
      font-size: 20px;
      margin-left: 10px;
      .email-input{
        max-width: 90%;
        margin: 10px;
        margin-left: 0px;
      }
    }
  }
  .contact-message{
    max-width: 100%;
    font-size: 20px;
    .message-input{
      textarea{
        width: 97.5%;
        height: 100px;
        padding: 10px;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        margin: 10px 0;
        resize: none;
      }
    }
  }
  .contact-button{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    input{
      padding: 15px 20px;
    }
    span{
      display: none;
    }
  }
}

footer{
  background-color: $black-color;
  height: 250px;
  .footer-container{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .footer-title{
      h3{
        font-size: 25px;
        color: #fbfbf8;
        font-weight: bolder;
      }
    }
    .footer-navbar{
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
      a{
        color: #fbfbf8;
        text-decoration: none;
        font-weight: bolder;
        font-size: 18px;
      }
    }
    .footer-social{
      width: 100%;
      .footer-social-box{
        margin: 0 auto;
        width: 30%;
        background-color: #fbfbf8;
        padding: 8px 10px;
        display: flex;
        justify-content: space-around;
        border-radius: 15px;
        a{
          color: $black-color;
          font-size: 25px;
        }
      }
    }
    .footer-copy{
      font-size: 15px;
      color: #ccc;
    }
  }
}

input, textarea{
  background-color: #fbfbf8 ;
}

// QUERYS

@media (max-width: 1130px){
  .aboutme-section{
    #figura1{
      transform: scale(0.3);
    }
    #figura2{
      transform: scale(0.8);
    }
  }
}

@media (max-width: 1000px){
  main{
    padding: 100px;
  }
  .aboutme-section{
    #figura1{
      transform: scale(0.3);
      bottom: -400px;
    }
    #figura2{
      transform: scale(0.8);
    }
    .aboutme-box{
      height: 60%;
    }
  }
}

@media (max-width: 890px){
  main{
    padding: 50px;
  }
  .projects{
    .projects-container{
      width: 80vw;
      display: flex;
    }
  }
  .contact-section{
    .contanct-nameandmail{
      display: flex;
      flex-direction: column;
      .name{
        width: 100%;
        font-size: 20px;
        margin-right: 0;
        .name-input{
          max-width: 100%;
        }
      }
      .email{
        width: 100%;
        margin-left: 0;
        .email-input{
          max-width: 100%;
        }
      }
    }
    .contact-message{
      .message-input{
        textarea{
          width: 102%;
        }
      }
    }
  }
}

@media (max-width: 541px){
  header{
    position: fixed;
    .header-button{
      display: block;
      color: black;
      width: 100%;
      display: flex;
      justify-content: end;
      padding: 20px 20px;
      z-index: 3;
      #menu{
        display: block;
        font-size: 30px;
        background-color: transparent;
        color: $black-color;
      }
    }
    .navbar{
      width: 100%;
      height: 100vh;
      position: fixed;
      flex-direction: column;
      justify-content: start;
      padding: 50px;
      padding-top: 130px;
      background-color: #fbfbf8;
      top: -80px;
      align-items: flex-start;
      margin: 80px 0;
      z-index: 2;
      left: 100%;
      transition: all 0.5s;
      .navbar-logo{
        padding: 15px;
        border-bottom: 1px solid #ccc;
        width: 75%;
        a{
          font-size: 30px;
        }
      }
      .navbar-ul{
        width: 100%;
        ul{
          padding: 0;
          margin: 0;
          flex-direction: column;
          li{
            padding: 15px;
            border-bottom: 1px solid #ccc;
            width: 75%;
            a{
              padding: 0;
              margin: 0;
              font-size: 30px;
              width: 100%;
            }
          }
        }
      }
    }
  }
  main{
    height: 100vh;
    margin-top: 0;
    padding: 0 20px;
    max-width: 100vw;
    .luda{
      width: 100%;
      transform: scale(0.7);
      .letters{
        width: 100%;
        .words{
          height: auto;
          width: 1000px;
          margin-left: -20px;
        }
      }
    }
    .subtitle{
      padding: 0 30px;
      height: auto;
      h3{
        font-size: 23px;
        font-weight: bolder;
        margin-bottom: 0;
      }
    }
    .text{
      padding: 0 30px;
      margin: 0 auto;
      width: 90%;
    }
    .button{
      margin-left: 30px;
    }
    .icons{
      height: auto;
      width: 30vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      position: absolute;
      right: 30%;
      top: 85%;
      font-size: 40px;
      padding-top: 0;
      margin-top: 30px;
      }
    }

  .aboutme-section{
    height: 900px;
    margin: 100px 0;
    #figura1{
      transform: scale(0.5);
      bottom: 230px;
      right: -347px;
    }
    #figura2{
      transform: scale(0.6);
      bottom: 10%;
      left: 0;
    }
    .aboutme-box{
      height: 85%;
      width: 60%;
      .aboutme-experience{
        flex-direction: column;
        width: 100%;
        .experience-cards{
          min-width: 90%;
          padding: 0;
          margin: 0;
        }
      }
      .button-experience{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
      }
    }
  }
  .projects{
    .projects-container{
      width: 90%;
    }
  }
  .contact-section{
    padding: 30px 0;
    .contact-button{
      flex-direction: column-reverse;
      margin-bottom: 50px;
    }
  }
  footer{
    .footer-container{
      width: 80%;
    }
  }
}

@media (max-width: 500px){
  .experience-section{
    height: auto;
    margin-bottom: 50px;
    .experience-box{
      .row{
        height: 160px;
        .primary-info{
          flex-direction: column;
          h3{
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 414px){
  main{
    padding: 10px;
    margin: 0;
    .title{
      margin-bottom: 50px;
    }
    .luda{
      transform: scale(0.9);
      margin-left: 8px;
    }
    .subtitle{
      text-align: center;
    }
    .text{
      width: 80%;
      margin: 20px 0;
    }
    .icons{
      right: 17%;
      top: 85%;
      }
  }
  .aboutme-section{
    #figura1{
      transform: scale(0.6);
      bottom: 380px;
      right: -200px;
    }
    .aboutme-box{
      width: 70%;
      padding: 20px;
    }
  }
  .experience-section{
    height: auto;
    margin-bottom: 50px;
    .experience-box{
      .row{
        height: 160px;
        .primary-info{
          flex-direction: column;
          h3{
            width: auto;
            text-align: center;
          }
        }
      }
    }
  }
  .contact-section{
    width: 80vw;
    padding: 0;
    form{
      min-width: 100%;
      input{
        width: 90%;
      }
      .contact-message{
        .message-input{
          textarea{
            width: 93%;
          }
        }
      }
      .contact-button{
        margin-bottom: 10px;
      }
    }
  }
  .aboutme-section{
    height: 950px;
    .aboutme-box{
      height: 85%;
      .aboutme-experience{
        .experience-cards{
          width: 100%;
          .experience{
            .months{
              font-size: 15px;
            }
          }
        }
      }
    }
  }
   main{
    height: 85vh;
    padding: 10px;
    margin: 0;
    .luda{
      transform: scale(0.9);
    }
    .text{
      width: 80%;
      margin: 20px 0;
    }
    .icons{
      right: 17%;
      top: 85%;
      }
  }
  .experience-section{
    height: auto;
    margin-bottom: 50px;
    .experience-box{
      .row{
        height: 160px;
        .primary-info{
          flex-direction: column;
          h3{
            width: auto;
            text-align: center;
          }
        }
      }
    }
  }
  .contact-section{
    width: 80vw;
    padding: 0;
    form{
      min-width: 100%;
      input{
        width: 90%;
      }
      .contact-message{
        .message-input{
          textarea{
            width: 93%;
          }
        }
      }
      .contact-button{
        margin-bottom: 10px;
      }
    }
  }
  .aboutme-section{
    height: 950px;
    .aboutme-box{
      height: 85%;
    }
  }
  footer{
    .footer-container{
      width: 100%;
    }
  }
}

@media (max-width: 375px){
  main{
    margin-top: -50px;
    .icons{
      right: 23%;
      top: 85%;
    }
  }
  .aboutme-section{
    height: 1000px;
    margin: 100px 0;
    .aboutme-box{
      height: 85%;
      width: 60%;
    }
  }
  footer{
    .footer-container{
      width: 90%;
    }
  }
}

@media (max-width: 360px){
  main{
    margin-top: -50px;
    .icons{
      right: 18%;
      top: 85%;
    }
  }
}
